<template name="ApplicationLayout">
<head>
  <title>ChatRoom</title>
</head>

<body>
  <h1>Welcome to the ChatRoom</h1>
    {{> loginButtons}}
      {{> yield}}
        <hr/>
</body>
</template>

<template name="hello">
    {{#if currentUser}}
<h2>Welcome:</h2>
    {{else}}
    <h2>Login</h2>
    {{/if}}
    {{#if currentUser}}
    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
    {{/if}}
    {{posts}}
    <ul>
        {{#each posts}}
        <li>{{username}}:{{name}}</li>
        {{/each}}
    </ul>
</template>

<template name="post">
        <h2 class="post-class">{{name}}</h2>
</template>